@extends(layout, title = "ActFramework Home")

@section("moreJs") {
<script src="/js/site.js"></script>
<script src="/js/prism.js" charset="utf-8"></script>
}

@section("moreCss") {
<link rel="stylesheet" href="/css/prism.css">
<link rel="stylesheet" href="/css/prism-line-numbers.css">
<style>
  h6.feature[data-link] {
    cursor: pointer;
  }
</style>
}


<div class="container">
  <section class="hero">
    <h1>ActFramework</h1>
    <h5>A Final Fantasy of Java MVC Framework</h5>
    <a class="button button-primary" href="#start">Getting Start!</a>
    <div class="value-props row">
      <div class="four columns value-prop">
        <img class="value-img" src="/image/development.png">
        Unbeatable development experience w/ great performance
      </div>
      <div class="four columns value-prop">
        <img class="value-img" src="/image/tech.png">
        Superb RESTful support plus powerful backend page rendering
      </div>
      <div class="four columns value-prop">
        <img class="value-img" src="/image/security.png">
        Uncompromised security are so easy to achieve
      </div>
    </div>
  </section>


  <div class="navbar-spacer"></div>
  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item"><a class="navbar-link" href="/#intro">Intro</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/doc/index">Document</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/#video">Video</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/#start">Try now!</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/#support">Support</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/#about">About</a></li>
      </ul>
      <ul class="navbar-list u-pull-right">
        <li class="navbar-item"><a id="go_zh" class="navbar-link" href="#">中文</a></li>
        <li class="navbar-item u-pull-right"><a id="go_en" class="navbar-link" href="#" title="English">EN</a></li>
      </ul>
    </div>
  </nav>

  <div class="docs-section" id="intro">
    <h6 class="docs-header">News</h6>
    <ul>
      <li>
        An new <a href="https://github.com/greenlaw110/simple-webframework-benchmark/">simple benchmark project</a>
        shows Act's throughput triples the one of Spring-boot-netty
      </li>
      <li>
        Submitted a <a href="https://github.com/TechEmpower/FrameworkBenchmarks/pull/2525">PR</a>
        on <a href="https://www.techempower.com/benchmarks">TechEmpower Benchmark</a> for ActFramework
      </li>
    </ul>
    <h6 class="docs-header">Features</h6>
    <p>
      ActFramework is a modern, sleek and mainstream Java MVC framework
    </p>
    <ul>
      <li>
        <h6 class="feature" data-link="full-stack">
          A full stack MVC framework
          <i class="fa fa-angle-right indicator"></i>
        </h6>
        <div class="feature-desc hidden full-stack">
          An ActFramework application has the main method and start in seconds.

          <div class="feature-desc alert alert-info">
            <i class="fa fa-info-circle indicator"></i> Act is not a servlet framework and Act application does not
            run in a Servlet container
          </div>
        </div>
      </li>
      <li>
        <h6 class="feature" data-link="dev-exp">
          Unbeatable development experience w/ great performance
          <i class="fa fa-angle-right indicator"></i>
        </h6>
        <div class="feature-desc hidden dev-exp">
          <p>
            Act support hot-reload application and it takes less than a second to reload
            your normal sized app (in our 10K LOC app, takes around 500ms to reload app). Hot reload happens
            when your Java source code, template code or configuration files has been changed
          </p>
          <p>
            While providing great developer experience, performance is still a very important aspect
            of ActFramework. According
            <a href="https://github.com/networknt/light-java-example/tree/master/performance">this</a>
            benchmark project, for a bare HelloWorld app, ActFramework has 2x throughput when
            comparing with Bootique + Jetty/Jersey, about 3x throughput with Spring Boot Undertow,
            Dropwizard and Spring Boot Tomcat.
          </p>
        </div>
      </li>
      <li>
        <h6 class="feature" data-link="di">
          Dependency injection
          <i class="fa fa-angle-right indicator"></i>
        </h6>
        <div class="feature-desc hidden di">
          Fully JSR 330 support and even more:
          <ul>
            <li>Inject parameter for methods including action handler, mail sender, job method etc</li>
            <li>Inject collections</li>
            <li>Customizable injection tag, e.g. <code>@@LoginUser</code></li>
          </ul>
        </div>
      </li>
      <li>
        <h6 class="feature" data-link="spa">
          SPA/Mobile app support
          <i class="fa fa-angle-right indicator"></i>
        </h6>
        <div class="feature-desc hidden spa">
          Supports the trends of separate front end architecture via:
          <ul>
            <li>
              RESTful support
            </li>
            <li>
              Built-in CORS support
            </li>
            <li>
              Session/Header mapping
            </li>
          </ul>
        </div>
      </li>
      <li>
        <h6 class="feature" data-link="security">
          Uncompromised security
          <i class="fa fa-angle-right indicator"></i>
        </h6>
        <div class="feature-desc hidden security">
          ActFramework is a security aware framework, it built uncompromised security support into your application
          <ul>
            <li>Session cookie is secure and http only, payload is signed and encrypted (optionally)</li>
            <li>Enable CSRF prevention with just one configuration item</li>
            <li>XSS prevention: Rythm engine escape variable output by default</li>
            <li>Implementing your authentication/authorisation/accounting framework using
              <a href="https://github.com/actframework/act-aaa-plugin">AAA plugin</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <h6 class="feature" data-link="anno">
          Annotation aware but not annotation stack
          <i class="fa fa-angle-right indicator"></i>
        </h6>
        <div class="feature-desc hidden anno">
          <p>Annotation is one of the tool ActFramework used to increase expressiveness. However we do not appreciate
          <a href="http://annotatiomania.com/">crazy annotation stacked code</a>. Instead we make the code to express
            the intention in a natural way and save the use of annotation whenever possible.</p>
          <div>For example, for the following SpringMVC code:</div>
          <pre class="line-numbers"><code class="language-java">@@RequestMapping(value="/user/{userId}/invoices", method = RequestMethod.GET)
public List<Invoice> listUsersInvoices(
   @@PathVariable("userId") int user,
   @@RequestParam(value = "date", required = false) Date dateOrNull) {
  ...
}
</code></pre>
          The corresponding ActFramework app code is:
          <pre class="line-numbers"><code class="language-java">@@GetAction("/user/{user}/invoices")
public List<Invoice> listUsersInvoices(int user, Date date) {
  ...
}
</code></pre>
          No doubt ActFramework code is simpler and clearer when comparing with SpringMVC code.
        </div>
      </li>
      <li>
        <h6 class="feature" data-link="conf">
          Multi-environment configuration
          <i class="fa fa-angle-right"></i>
        </h6>
        <div class="feature-desc hidden conf">
          ActFramework supports the concept of <code>profile</code> which allows you to organize your configurations
          in different environment (defined by profile) easily. Take a look at the following configurations
          from one of our real project:
<pre><code>resources
├── conf
│   ├── common
│   │   ├── app.properties
│   │   ├── db.properties
│   │   ├── mail.properties
│   │   ├── payment.properties
│   │   └── social.properties
│   ├── local-no-ui
│   │   ├── app.properties
│   │   ├── db.properties
│   │   └── port.properties
│   ├── local-sit
│   │   └── app.properties
│   ├── local-ui
│   │   ├── app.properties
│   │   └── db.properties
│   ├── sit
│   │   ├── app.properties
│   │   └── db.properties
│   └── uat
...</code></pre>
          Suppose on your UAT server, you start the application with JVM option <code>-Dprofile=uat</code>,
          ActFramework will load the configuration in the following sequence:
          <ol>
            <li>Read all <code>.properties</code> files in the <code>/resources/conf/common</code> dir</li>
            <li>Read all <code>.properties</code> files in the <code>/resources/conf/uat</code> dir</li>
          </ol>
          This way ActFramework use the configuration items defined in <code>uat</code> profile to overwrite the same
          items defined in <code>common</code> profile. The common items that are not overwritten still effective.
        </div>
      </li>
      <li>
        <h6 class="feature" data-link="db">
          Simple yet powerful database support
          <i class="fa fa-angle-right"></i>
        </h6>
        <div class="feature-desc hidden db">
          ActFramework provides a descent set of database access API via <code>act.db.Dao</code> and relevant
          interfaces.
          <ul>
            <li class="feature-desc">
              <a href="https://github.com/actframework/act-ebean">act-ebean</a> plugin implemented the ActFramework
              database layer based on the fast and simple <a href="http://ebean-orm.github.io/">ebean ORM</a> library,
              which works with most SQL database solutions on the market
            </li>
            <li class="feature-desc">
              <a href="https://github.com/actframework/act-morphia">act-morphia</a> plugin implemented the ActFramework
              database layer based on the official <a href="https://mongodb.github.io/morphia/">Morphia</a> document
              mapper for MongoDB
            </li>
          </ul>
        </div>
      </li>
      <li>
        <h6 class="feature" data-link="multi-db">
          Multiple database support
          <i class="fa fa-angle-right indicator"></i>
        </h6>
        <div class="feature-desc hidden multi-db">
          It is not unusual for today's application to play with multiple and even heterogeneous database storage. And
          Act has already built-in the support for that. For example:
          <pre class="line-numbers"><code class="language-properties"># the database configuration
db.instances=mongo,sql

# db1 configurations
db.mongo.impl=act.db.morphia.MorphiaPlugin
db.mongo.uri=mongodb://localhost/myapp

db.sql.impl=act.db.ebean.EbeanPlugin
db.url=jdbc:h2:./myapp
db.ddl.createOnly=true
</code></pre>
          <pre class="line-numbers"><code class="language-java">// -- the model that require transaction go SQL
@@DB("sql")
@@Entity(name = "va")
public class VirtualAccount{
    @@Id
    private Long id;

    @@Index(unique = true)
    public String ownerId;

    // balance in cents
    public int balance;
}
</code></pre>
          <pre class="line-numbers"><code class="language-java">// -- the model does not require transaction go MongoDB
@@DB("mongo")
@@Entity("trans")
public static class Transaction extends MorphiaModel<Transaction> {

    /**
     * Stores from account owner ID
     */
    public String creditAcc;
    /**
     * Stores to account owner ID
     */
    public String debitAcc;
    /**
     * Stores the transaction amount
     */
    public int amount;
    ...
}
</code></pre>
          The above code shows how to configure two databases with one for SQL database and the other one for MongoDB.
          Once you have two database configured, it is super easy to map your model class to database via the
          <code>@@DB</code> annotation
        </div>
      </li>
      <li>
        <h6 class="feature" data-link="view">
          Powerful view architecture with multiple render engine support
          <i class="fa fa-angle-right indicator"></i>
        </h6>
        <div class="feature-desc hidden view">
          For more traditional application that require server side page rendering,
          ActFramework by default use the <a href="http://rythmengine.org/">Rythm Template Engine</a>. And it
          supports using your favorite template engine including:
          <ul>
            <li>
              <a href="http://velocity.apache.org/">Velocity</a> through
              <a href="https://github.com/actframework/act-velocity">Velocity plugin</a>
            </li>
            <li>
              <a href="http://freemarker.org/">FreeMarker</a> through
              <a href="https://github.com/actframework/act-freemarker">FreeMarker plugin</a>
            </li>
            <li>
              <a href="http://www.thymeleaf.org/">Thymeleaf</a> through
              <a href="https://github.com/actframework/act-thymeleaf">Thymeleaf plugin</a>
            </li>
            <li>
              <a href="https://mustache.github.io/">Mustache</a> through
              <a href="https://github.com/actframework/act-mustache">Mustache plugin</a>
            </li>
            <li>
              <a href="http://ibeetl.com/">Beetl</a> through
              <a href="https://github.com/actframework/act-beetl">Beetl plugin</a>
            </li>
          </ul>
          ActFramework support using multiple template engines in the same projects
        </div>
      </li>
      <li>
        <h6 class="feature" data-link="misc">
          Misc features
          <i class="fa fa-angle-right indicator"></i>
        </h6>
        <div class="feature-desc hidden misc">
          ActFramework provides rich feature set that covers most of your web application development needs:
          <ul>
            <li>
              <a href="/doc/email">Sending email</a>
            </li>
            <li>
              <a href="/doc/job">Schedule Jobs</a>
            </li>
            <li>
              <a href="/doc/event">Event handling and dispatching</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="docs-section" id="video">
    <h6 class="docs-header">Videos</h6>
    @def videoItem(Video video) {
      @{
        Video.Source source = video.source("en")
      }
      @if (source) {
        <li>
          <a name="@source.id"></a>
          <div>@video.desc</div>
          <iframe class="tutorial" id="@source.id" src="@source.embeddedUrl()"></iframe>
        </li>
      }
    }
    @args Iterable<Video> videos
    <ol>
      <li>
        <div>Creating a helloworld ActFramework app with Eclipse from scratch</div>
        <iframe class="tutorial" id="v_hellworld_eclipse" src="https://www.youtube.com/embed/_IhRv3-Ejfw"></iframe>
      </li>
      <li>
        <div>Create a TODO application (Morphia/Mongo version)</div>
        <iframe class="tutorial" id="v_todo_morphia" src="https://www.youtube.com/embed/A4SfYuw2wYI"></iframe>
      </li>
      <li>
        <div>Adding QRCode and Barcode generator on your Helloworld sample</div>
        <iframe class="tutorial" id="v_hellworld_qrcode" src="https://www.youtube.com/embed/s_nGB3Ke7vo"></iframe>
      </li>
      @**
      @for (videos) {
      @videoItem(_)
      }
      **@
    </ol>
  </div>

  <div class="docs-section" id="start">
    <h6 class="docs-header">Getting start with ActFramework</h6>
    <div class="feature-desc">
      ActFramework Sample project is driven by Maven, you can choose from the
      following sample project skeleton to start your own Act application. Once
      you've downloaded a sample app, import it into your IDE and then use
      IDE to refactory the project e.g. rename your package and entry class etc.
      Then just rock n roll!
    </div>
    <div class="feature-desc alert alert-info">
      <i class="fa fa-info-circle"></i> Every sample project can be executed and packaged using maven command
    </div>
    <ul>
      @def download(String title, String desc, String file) {
      <li class="download">
        <div class="header">@title</div>
        <div class="row">
          <div class="desc nine columns">@desc</div>
          <div class="three columns">
            <a href="/skeleton/@file">
              <i class="fa fa-download"></i>
              &nbsp;Download
            </a>
          </div>
        </div>
      </li>
      }
      @args Iterable<act_site.Skeleton> skeletons
      @for (skeletons) {
      @download(_.name, _.desc, _.fileName)
      }
    </ul>
  </div>

  <div class="docs-section" id="support">
    <h6 class="docs-header">Getting Support</h6>
    <div class="feature-desc">
      For user who speak/write English, please get support from/contribute to Actframework community by
      <br/><br/>
      <ul>
        <li>Join google group: actframework@@googlegroup.com</li>
        <li>Join <a href="https://gitter.im/actframework/actframework">gitter channel</a></li>
        <li>Send your question to <a href="">StackOverflow</a> with <code>actframework</code> tag</li>
      </ul>
    </div>
    For user who speak and write Chinese, you can join our QQ Group: 283919975
  </div>

  <div class="docs-section" id="about">
    <h6 class="docs-header">About</h6>
    <p><b>Why ActFramework</b></p>
    <p>
      In short, we need a modern, sleek and mainstream Java MVC framework that you don't get from
      Spring MVC/PlayFramework/SparkFramework and many others on the market
    </p>
    <p>
      Long story, back in the end of 2009, I (Gelin Luo, Author of ActFramework) just finished a
      project in CakePHP as an individual consultant, feel pretty frustrated with PHP and decide
      to get back to the Java world. I was still not happy with Struts/w Spring and was hunting
      for other Java MVC frameworks. PlayFramework comes into my sight and I fell in love with it
      at my first try.
    </p>
    <p>
      I love PlayFramework v1.x because it is simple, clear and expressive. It brought us a completely
      different experience in web development with Java. However I don't totally agree with where
      Play 2.X is heading for, and it looks like I am not the only person with the concern as per this
      <a href="https://groups.google.com/d/msg/play-framework/AcZs8GXNWUc/IanbqC-c-MkJ" target="_blank">
        open letter to Play Framework Developers</a>
    </p>
    <p>
      I <a target="_blank" href="http://software-lgl.blogspot.com.au/2012/12/thinking-about-creating-new-java-web.html">
      have thought</a> of rolling out something that could follow the road paved by Play 1.x, something that
      is simple, clear, expressive and Java (specifically) developer friendly. About one and half year after
      that I decide I could start the project seriously, and as a result, here comes out this ACT framework,
      a framework that I can call it "a Final Fantasy of Java web developer"
    </p>
    <p><b>Thanks</b></p>
    <p>
      <img src="/image/thinking-studio-logo.png" style="width:32px;height:32px">&nbsp;&nbsp;
      <a href="http://thinking.studio">
        Thinking Studio
      </a> is the company backed ActFramework. Thanks Joe Cincotta
      to allow me to use part of my office hours on this project and allow me to pilot ActFramework on our Java
      projects (since the end of 2015).
    </p>
    <p>
      <img src="/image/idea-logo.png" style="width:32px;height:32px">&nbsp;&nbsp;
      <a href="https://www.jetbrains.com/">
        JetBrains
      </a> grants me the open source license to use the great
      product IntelliJ IDEA. Every line of code of ActFramework is written with IntellJ IDEA, and really love it!
    </p>
  </div>

</div>

<script>
    function switchLocale(locale) {
        $.post('/~i18n/locale', {act_locale: locale}, function() {
            window.location.reload();
        })
        return false;
    }

    $('body').on('click', '#go_en', function () {
        return switchLocale('en_AU');
    });
    $('body').on('click', '#go_zh', function () {
        return switchLocale('zh_CN');
    });
    $('body').on('iframe.tutorial', 'click', function () {
        var v = $(this).data("v");
        window.open("https://youtube.com/watch?v=" + v);
    })
  $('body').on('click', 'h6.feature[data-link]', function() {
      $me = $(this);
      var expanded = $me.next().is(':visible');
      $('h6.feature[data-link]').next().hide();
      $('h6.feature[data-link]').find('i.indicator').addClass('fa-angle-right');
      if (!expanded) {
          $me.next().fadeIn();
          $me.find('i.indicator').removeClass('fa-angle-right').addClass('fa-angel-down');
      }
  })
</script>
