@import "variables.less";
@import "mixins.less";

// Global Components
html,
body {
    height: 100%;
    width: 100%;
}

body {
    .serif-font;
}

hr {
    border-color: @theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    .transition-all;
    color: darken(@theme-primary, 20%);
    &:hover,
    &:focus {
        color: darken(@theme-primary, 30%);
    }
}

#news,#getstarted,#footer{
    background-color: @theme-dark;
    color: white;
    a{
        .transition-all;
        text-decoration: underline ;
        color: white;
        opacity: 0.9;
        &:hover{
            color: white;
            opacity: 1.0;
        }
    }
}

#getstarted{
    background-image: url('../image/bg5.png');
    background-attachment: scroll;
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#introduction{
    background-image: url('../image/bg6.png');
    background-attachment: scroll;
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#tutorials{
    background-image: url('../image/bg7.png');
    background-attachment: scroll;
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .sans-serif-font;
}

.feature {
    margin-bottom: 1rem;
    font-weight: bold;
}


p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: @theme-primary;
}

.bg-secondary {
    background-color: @theme-light;
}

.bg-tertiary {
    background-color: @theme-dark;
}

.bg-dark {
    background-color: @gray-darker;
    color: white;

    a {
        color: @theme-primary;
        &:hover,
        &:focus {
            color: darken(@theme-primary, 10%);
        }
    }
}

.text-faded {
    color: fade(white, 70%);
}

section {
    padding: 50px 0px 50px 0px;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.doc.release_notes {
    li a {
        font-size: 16px;
        font-weight: bold;
    }
}

.OverwriteDialogOverflow { overflow: visible; }

#dialogContainer { position: relative; }

#hiddencloseButton {
    position: absolute;
    top: -15px;
    right: -15px;
}

#hiddenArrowButtons {
    position: absolute;
    bottom: -30px;
}


// Navigation

.navbar-default {
background-color: white;
border-color: fade(@gray-darker, 5%);
.sans-serif-font;
.transition-all;
.navbar-header .navbar-brand {
    color: @theme-primary;
    .sans-serif-font;
    font-weight: 700;
    text-transform: uppercase;
    &:hover,
    &:focus {
        color: darken(@theme-primary, 10%);
    }
}
.navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 12px;
    color: @gray-darker;
    text-transform: uppercase;
}
.nav {
    > li {
        > a,
        > a:focus {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 18px;
            color: @gray-darker;
            &:hover {
                color: @theme-primary;
            }
        }
        &.active {
            > a,
            > a:focus {
                color: @theme-primary !important;
                background-color: transparent;
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}
@media (min-width: 768px) {
    background-color: rgba(255,255,255,0.0);
    border-color: fade(white, 30%);
    .navbar-header {
        color: fade(white, 70%);
        &:hover,
        &:focus {
            color: white;
        }
    }
    .navbar-brand{
        opacity: 0.0;
    }
    .nav > li > a,
    .nav > li > a:focus {
        color: fade(black, 70%);
        &:hover {
            color: black;
        }
    }
    &.affix {
        background-color: rgba(255,255,255,0.85);
        border-color: fade(@gray-darker, 5%);
        .navbar-header {
            color: @theme-primary;
            font-size: 14px;
            &:hover,
            &:focus {
                color: darken(@theme-primary, 10%);
            }
        }

        .navbar-brand{
            opacity: 1.0;
        }

        .nav > li > a,
        .nav > li > a:focus {
            color: @gray-darker;
            &:hover {
                color: @theme-primary;
            }
        }
    }
}
}

// Homepage Header



header {
position: relative;
width: 100%;
min-height: auto;
.background-cover;
background-position: right;
background-image: url('../image/bg4.jpg');
background-attachment: fixed;
background-size: cover;
text-align: center;
color: black;
.header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
    .header-content-inner {
        h1 {
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 30px;
        }
        hr {
            margin: 30px auto;
        }
        p {
            font-weight: 300;
            color: fade(black, 70%);
            font-size: 24px;
            margin-bottom: 50px;
        }
    }
}
@media (min-width: 768px) {
    min-height: 100%;
    .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
        .header-content-inner {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
            h1 {
                font-size: 50px;
            }
            p {
                font-size: 24px;
                max-width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
}

// Sections

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

.feature {
    font-size: 20px;
}

.news-box {
    ul{
        li{
            list-style: none;
            .news-date{
                display: inline-block;
                width:10%;
                margin: 0px 0px 20px 0px;
                padding: 0px;
                vertical-align: text-top;
                line-height: 1.5;
                font-size: 20px;
            }
            .news-text{
                display: inline-block;
                margin: 0px 0px 20px 0px;
                padding: 0px 0px 10px 10px;
                width: 89%;
                vertical-align: text-top;
                line-height: 1.5;
                font-size: 20px;
            }
            vertical-align: text-top;
            line-height: 1.5;
            font-size: 20px;
        }
    }
}

.video-panel{
  border-width: 1px;
  border-color: #f0f0f0;
  border-style: solid;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px 0px 10px 0px;
  line-height: 1.5;
  font-size: 20px;
  height: 120px;
  max-height: 120px;
  min-height: 120px;
  background-color: #f0f0f0;
}

.video-panel-play{
    white-space: nowrap;
    text-align: center; margin: 1em 0;

    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    element {
        vertical-align: middle;
        max-height: 24px;
        max-width: 24px;
    }
}

.download {
    .row{
        padding: 0px 0px 20px 0px;
    }
}



.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: @theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
  .button-variant(@gray-darker;white;white);
}

.btn-primary {
  .button-variant(white;@theme-primary;@theme-primary);
}

.btn {
  .sans-serif-font;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-xl {
  padding: 15px 30px;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
  color: white;
  text-shadow: none;
  background: @gray-darker;
}

::selection {
  color: white;
  text-shadow: none;
  background: @gray-darker;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

body {
  webkit-tap-highlight-color: @gray-darker;
}


/*
Documentation container
*/
#doc-content {padding-top: 20px;}
#doc-content h1 { font-size: 4.4rem; line-height: 1.2;  letter-spacing: -.1rem;}
#doc-content h2 { font-size: 1.8rem; line-height: 1.25; letter-spacing: -.1rem; }
#doc-content h3 { font-size: 1.6rem; line-height: 1.3;  letter-spacing: -.1rem; }
#doc-content h4 { font-size: 1.5rem; line-height: 1.35; letter-spacing: -.08rem; background-color: lightblue; padding: 0.3em; }
#doc-content h5 { font-size: 1.3rem; line-height: 1.5;  letter-spacing: -.05rem; }
#doc-content h6 { font-size: 1.2rem; line-height: 1.6;  letter-spacing: 0; }
#doc-content ol {
  padding-left: 14px;
  list-style: decimal;
}

pre {
    border: none;
    background: transparent;
}

pre > code {
    background-color: #222;
    color: #eee;
    padding: 15px;
    display: block;
    white-space: pre;
}

.hljs-line-numbers {
    text-align: right;
    border-right: 1px solid #ccc;
    color: #999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
code, kbd, pre, samp {
    font-family: "Envy Code R", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', Menlo, "Courier New", monospace;
}


